# HTML file
*.html

# JS file
*.js

# CSS file
*.css

# class file
*.class
*.jar

# project folders
.vscode
.gradle
.settings
bin
build
src/main/java/paiza/
src/test/java/paiza/

.DS_Store
.classPath
.project
gradlew
gradlew.bat